# Python Byte-compiled / Optimized files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual Environments
.venv/
env/
venv/
ENV/

# IDE settings
.idea/
.vscode/

# OS junk
.DS_Store
Thumbs.db
desktop.ini
